ul,ol {
    list-style: none;
}

a {
    text-decoration: none;
    color: black;
}

.custom-img-size {
    width: 100%; /* 根据需要调整宽度 */
    height: 1000px; /* 根据需要调整高度 */
    object-fit: cover; /* 保持图片比例并填充整个容器 */
}


